.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.btn {
  margin-top: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}
