.filterBar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  max-width: 226px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(138, 138, 137, 1);
}

.reactSelectContainer {
  width: 100%;
}
