*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  font-family: inherit;
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid rgba(17, 16, 28, 0.1);
  background-color: rgba(251, 251, 251, 1);
  color: rgba(17, 16, 28, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  min-width: 232px;
}

.input::placeholder {
  font-family: inherit;
  color: rgba(17, 16, 28, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.icon {
  position: absolute;
  right: 12px;
  top: 16px;
  fill: none;
  pointer-events: none;
}

.dropdown {
  position: absolute;
  padding: 16px;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 151px;
  max-height: 180px;
  background: rgba(255, 255, 255, 1);
  border-radius: 12px;
  margin-top: 4px;
  box-shadow: 0px 20px 69px 0px rgba(0, 0, 0, 0.07);
  max-height: 220px;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 4px;
}

.dropdownText {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.dropdown::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.dropdown {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.option {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;

  cursor: pointer;
  transition: color 0.2s;
  color: rgba(17, 16, 28, 0.3);
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.option:hover {
  color: rgba(17, 16, 28, 1);
}

.active {
  color: rgba(17, 16, 28, 1);
}
