.modal {
  position: relative;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 30px;
  padding: 64px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.25s ease;
  width: 600px;
  height: 908px;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.crossIcon {
  transition: color 0.2s ease;
}

.crossIcon:hover {
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
