.header {
  position: relative;
  width: 100%;
  background-color: rgba(240, 63, 59, 1);
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.headerHome {
  position: absolute;
  background-color: transparent;
  top: 32px;
  color: white;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.container {
  padding: 0 128px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
