.header {
  position: relative;
  width: 100%;
  background-color: rgba(240, 63, 59, 1); /* червоний фон для інших сторінок */
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.headerHome {
  position: absolute; /* накладається поверх hero секції */
  background-color: transparent; /* прозорий */
  top: 32px;
  color: white;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
