.navGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 92px;
}

.navGroupNotHome {
  gap: 217px;
}

.logContainer {
  display: flex;
  gap: 8px;
}

.navContainer {
  display: flex;
  gap: 40px;
}

.logBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  padding: 14px 39px;
}

.registerBtn {
  background-color: rgba(240, 63, 59, 1);
  color: currentColor;
  border-radius: 30px;
  padding: 14px 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.registerBtn:hover {
  background-color: rgba(251, 251, 251, 1);
  color: rgba(240, 63, 59, 1);
}

.logOutBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  color: rgba(251, 251, 251, 1);
  background-color: rgba(240, 63, 59, 1);
  border-radius: 30px;
  padding: 14px 39px;
}

.logInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.userContainer {
  background-color: rgba(251, 251, 251, 1);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
