.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li {
  transition: all 0.3s ease;
}

.list li.removing {
  opacity: 0;
  transform: scale(0.9);
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
